body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    transition: background-color 0.5s ease;
}

header {
    background-color: #0085ff;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.5s ease;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 60px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.switch label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

#theme-switch:checked + label {
    background-color: #2196F3;
}

#theme-switch:checked + label:before {
    transform: translateX(26px);
}

.hero {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.hero-text h2 {
    margin-top: 0;
}

.hero-text p {
    font-size: 1.2em;
    margin:
